

.tituloDetalle {
    text-align: center;
    font-family: 'Oswald', sans-serif; 
    font-size: 3em; 
    color: #000000; 
    border-bottom: 3px solid #B06547;
    padding-bottom: 10px;
    margin-bottom: 40px;
    background-color: rgb(255, 209, 148);
}

.detallePrincipal h2 {
    color: #B06547; 
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left; 
}

.infoDosColumnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

.columnaTexto h2 {
    max-width: 70%;
    text-align: center;
}

.columnaTexto p {
    text-align: left;
}

.columnaImagen {
    max-width: 30%; 
}

.imagenDetalleGrande {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de galeria */
.galeriaSecundaria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.fotoGaleriaDetalle {
    width: 30%; 
    height: auto;
    border-radius: 5px;
}


@media (max-width: 100%) {
    .infoDosColumnas {
        flex-direction: column; 
    }
    .columnaTexto, .columnaImagen {
        width: 100%;
    }
    .fotoGaleriaDetalle {
        width: 95%; 
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000; 
    font-size: 17px;
    background-color: rgb(193, 250, 202);
}


p {
    line-height: 1.6; 
    margin-bottom: 1em; 
}

.tituloGaleria {
    text-align: center;
}

.introduccion {
    font-size: 1.2em; 
    font-style: italic;
    color: #000000; 
    text-align: center;
    margin-bottom: 30px;
}


